body{
	background-image: url("img/chooseCard/background_card.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: black;
}

img{
	display: inline_block;
	width: 110px;
	height: 147px;
}

div.cards{
	display: block;
	width: 500px;
	margin: 10px auto;
	margin-top: 35px;
}