body{
	background-repeat: no-repeat;
	background-color: rgb(205,170,125);
}
#content{
	background-color: #000000;
	height: 100%;
}
#logo{
	margin:0;
	width: 960px;
	cursor: pointer;
}
#bn1{
	font-size: 35px;
	color: white;
	text-align: center;
	height: 55px;
	width: 144px; 	 	
	float: right;
	background-image: url(https://googledrive.com/host/0B6q3hoYduwBjbm9NQm4xU2tiZVE);
}
#bn2{
	font-size: 35px;
	color: white;
	text-align: center;
	height: 55px;
	width: 144px; 	 	
	float: right;
	background-image: url(https://googledrive.com/host/0B6q3hoYduwBjbm9NQm4xU2tiZVE);
}
#bn1-1{
	top: 55px;
	float: right;
	font-size: 20px;
	color: white;
	text-align: center;
	height: 43px;
	width: 145px; 	 	
	background-image: url(https://googledrive.com/host/0B6q3hoYduwBjd1BpZ3BmRlp1Qjg/);
}
#bn2-1{
	top: 55px;
	float: right;
	font-size: 20px;
	color: white;
	text-align: center;
	height: 43px;
	width: 145px; 	 	
	background-image: url(https://googledrive.com/host/0B6q3hoYduwBjb2szMkVqNDZKeGs/);
}
#bigdiv{
	float: right;
	width: 288px;
	height: 100px;
}
#abigdiv{
	float: left;
}
#label{
	color: white;
}