body{
	background-repeat: no-repeat;
	background-color: rgb(205,170,125);
}
#content{
	background-color: #000000;
	height: 100%;
}
#header{
	position: center;
}
#logo{
	margin:0;
	width: 960px;
	cursor: pointer;
}
#line{

	width: 1px;
	height: 15em;
	background-color: #696969;
}
#label{
	font-size: 25px;
	font-family: "微軟正黑體", "Microsoft JhengHei";
	color:#FFFFFF;
}
input[type=text]
{
    color: #979797;
    height: 40px;
    width: 300px;
    padding: 1px;
    text-decoration: none;
    border-radius: 10px;

    border: 0;
}
input[type=password]
{
    color: #979797;
    height: 40px;
    width: 300px;
    padding: 1px;
    text-decoration: none;
    border-radius: 10px;

    border: 0;
}
#submit:hover{
	background: #f5a00e;
  	background-image: -webkit-linear-gradient(top, #f5a00e, #0ef0b0);
  	background-image: -moz-linear-gradient(top, #f5a00e, #0ef0b0);
  	background-image: -ms-linear-gradient(top, #f5a00e, #0ef0b0);
  	background-image: -o-linear-gradient(top, #f5a00e, #0ef0b0);
  	background-image: linear-gradient(to bottom, #f5a00e, #0ef0b0);
  	cursor: pointer; 
}
#loginbutton{
	width: 300px;
}
#loginbutton:hover{
	cursor: pointer;
}