body{
	max-width: 1366px;
	margin: 0px;
	background-color: black;
	background-image: url("img/cardbox_collection/background_main.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	font-family: "Microsoft JhengHei";
}

p, a{
	font-family: "Microsoft JhengHei";
}

div#head{
	margin-top: 15%;
	margin-left: 5%;
	max-width: 1200px;
	width: auto;
}

img#logo{
	display: inline;
	margin-left: 0px;
	max-width: 100%; 
	width: auto;
}

div.cardbox{
	display: inline-block;
	max-width: 1274px;
	margin: 0px auto;
	/*background-image: url("img/cardbox_collection/cardBox.png");
	background-repeat: no-repeat;*/
}

div.name{
	float: right;
	height: 70px;
	margin: 10px 20px;
	margin-bottom: 30px;
	
}

p.rank, p.box{
	display: inline-block;
	color: white;
	font-size: 24pt;
	margin: 0px;
}

p.box{
	margin-left: 40px;
}


div#cards{
	display: inline-block;
	max-width: 1244px;
	height: 350px;
	padding: 15px 15px;
	margin: 0px auto;
	background-color: rgb(255, 132, 31);
}

div.card{
	display: inline-block;
	max-width: 215px;
	max-height: 331.5px;
	background-color: white;
	margin: 0px 7px;
}

h5.title{
	text-align: center;
	color: gray;
	margin: 13px 0px;
	font-size: 20pt;
}

img.level{
	width: 215px;
	height: 140px;
}

article.content p{
	font-size: 8pt;
	margin: 5px;
}

div.share{
	margin-top: 40px;
}

a.fb img, a.love img, a.readmore img{
	display: inline-block;
	max-width: 24px;
	max-height: 27px;
}

a.readmore img{
	max-width: 57.5px;
	max-height: 19.5px;
	margin-left: 95px;
}

footer#foot{
	display: block;
	background-color:black;
	width: auto;
	height: auto;
}

